In [18]:
import pandas as pd

In [28]:
# data processing for locations.csv
parent_path = "/Users/zch/Desktop/GitHub/yelp_dataset/cis5500_dataset/"
airbnb = pd.read_csv(parent_path + 'Airbnb/Airbnb_Data.csv')
yelp = pd.read_csv(parent_path + 'yelp_csv_dataset/yelp_academic_dataset_business.csv')
city_abbr_state = pd.read_csv(parent_path + 'city_abbr_state.csv')

In [29]:
airbnb['address'] = airbnb['zipcode'] + ' ' + airbnb['neighbourhood']
airbnb = airbnb.merge(city_abbr_state, left_on='city', right_on='city_ab', how='left')
airbnb = airbnb[['latitude', 'longitude', 'address', 'city_full', 'state']]
airbnb.rename(columns={'city_full': 'city'}, inplace=True)
yelp = yelp[['latitude', 'longitude', 'address', 'city', 'state']]

In [30]:
airbnb[:5]

    latitude   longitude                 address             city state
0  40.696524  -73.991617  11201 Brooklyn Heights         New York    NJ
1  40.766115  -73.989040    10019 Hell's Kitchen         New York    NJ
2  40.808110  -73.943756            10027 Harlem         New York    NJ
3  37.772004 -122.431619    94117.0 Lower Haight    San Francisco    CA
4  38.925627  -77.034596  20009 Columbia Heights  Washington D.C.    WA

In [31]:
yelp[:5]

    latitude   longitude                          address           city state
0  34.426679 -119.711197           1616 Chapala St, Ste 2  Santa Barbara    CA
1  38.551126  -90.335695  87 Grasso Plaza Shopping Center         Affton    MO
2  32.223236 -110.880452             5255 E Broadway Blvd         Tucson    AZ
3  39.955505  -75.155564                      935 Race St   Philadelphia    PA
4  40.338183  -75.471659                    101 Walnut St     Green Lane    PA

In [32]:
combined_data = pd.concat([yelp, airbnb])
combined_data.drop_duplicates(subset=['latitude', 'longitude'], inplace=True)
combined_data.to_csv(parent_path + 'clean_dataset/locations.csv', index=False)

In [ ]:
# dataprocess for category.csv

In [33]:
categories_df = pd.read_csv(parent_path + 'clean_dataset/category.csv')
categories_df['categories'] = categories_df['categories'].str.split(', ')
exploded_df = categories_df.explode('categories')
exploded_df.rename(columns={'categories': 'category'}, inplace=True)
exploded_df.drop_duplicates(subset=['business_id', 'category'], inplace=True)
exploded_df.to_csv(parent_path + 'clean_dataset/exploded_category.csv', index=False)

In [34]:
photos_df = pd.read_csv(parent_path + 'clean_dataset/photos_business.csv')
photos_df['file_path'] = '/photos/' + photos_df['photo_id'] + '.jpg'
photos_df.to_csv(parent_path + 'clean_dataset/updated_photos_business.csv', index=False)